{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}
{% block header %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">BATTLESHIP</a>
		</div>
	</div><!-- /.container-fluid -->
</nav>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel-group" id="sign-form">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#sign-form" href="#sign-in">
								Sign In
							</a>
						</h4>
					</div>
					<div id="sign-in" class="panel-collapse collapse in">
						<div class="panel-body">
							<form id="form-login" action="login_submit" method="POST">
								<input class="form-control" type="email" name="email" placeholder="EMAIL" autofocus required>
								<br>
								<input type="password" class="form-control" name="password" placeholder="PASSWORD" required>
								<br>

								<button type="submit" class="btn btn-primary btn-block">SIGN IN</button>

								
							</form>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#sign-form" href="#sign-up">
								Sign Up
							</a>
						</h4>
					</div>
					<div id="sign-up" class="panel-collapse collapse">
						<div class="panel-body">
							<form action="join_submit" id="form-join" method="POST">
								<input type="email" class="form-control" name="email" placeholder="EMAIL" autofocus required>
								<br>
								<input type="password" class="form-control" name="password" placeholder="PASSWORD" required>
								<br>
								<input type="password" class="form-control" name="password-confirm" placeholder="PASSWORD CONFIRM" required>
								<br>
								<select name="schoolid" class="form-control">
									{% for school in schoolList %}	
									<option value="{{ school['ID'] }}">{{ school['schoolName'].decode('utf8') }}</option>

									{% endfor %}

								</select>
								<br>
								<div class="panel panel-info">
									<div class="panel-heading">Members<span id="btn-add-member" class="glyphicon glyphicon-plus pull-right"></span></div>
									<div class="panel-body" id="form-members">
										<input type="text" class="form-control members" name="members1" placeholder="NAME" required>
										
									</div>

								</div>
								<br>
								<button type="submit" class="btn btn-primary btn-block">SIGN UP</button>
								

								

							</form>
						</div>
					</div>
				</div>
			</div>			

		</div>
	</div>
</div>




<script src="{{ url_for('static', filename='js/lib/jsencrypt.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/toast.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}
