<div class="col-sm-6 ">
		<div class="row">
			<h3>BATTLESHIP</h3>
			<p>
				&nbsp;&nbsp;배틀쉽은 2인용 턴제(turn based) 보드게임으로, 먼저 상대방 전함의 위치를 예상하여 모두 침몰시키는 플레이어가 이기는 게임입니다. <br> 각 플레이어에게는 자신의 함선 5종류(1x2, 1x3, 1x3, 1x4, 1x5)를 배치시킬 수 있는 10x10 보드가 주어집니다. 각자의 배를 배치하고 나면, 상대방의 함선들의 위치를 알지 못한채 각 턴마다 상대방의 한 좌표를 공격하게 됩니다. <br> 공격에 성공한 경우 턴이 바뀌지 않고 다시 공격할 수 있습니다.<br>
					온라인 배틀쉽을 통해 정확한 규칙을 파악해 볼 수 있습니다.(www.battleshiponline.org)
			</p>
		</div>
		<div class="row">
			<h3>BATTLESHIP AI BATTLE</h3>
			<p>
				배틀십 AI 배틀은 미리 짜여진 AI를 통해 플레이 할 수 있도록 만들어져 있습니다. 플레이어들은 각각의 상황에서 게임을 진행해나갈 AI를 코드를 통해 만들고, 이를 통해 승부가 결정되게 됩니다. 이를 위해서는 다음과 같은 2가지를 만들어야합니다.
			</p>
		</div>
		<div class="row">
			<h4>전함의 배치</h4>
			<p>
				전함은 상단의 메뉴 중 Fleet Deployment를 통해 배치할 수 있습니다. 여러번 배치가 가능하지만, 게임에서는 가장 나중에 제출 된 배치로 진행됩니다. 커서의 위치를 기준으로 클릭하면 그 자리에 전함을 배치하게 됩니다.
			</p>
			<p>
				<strong>[단축키]</strong><br>
				<ul>
					<li>1, 2, 3, 4	: 배의 크기 선택</li>
					<li>x 	: 커서의 위치를 기준으로 그 위치의 배 삭제</li>
					<li>r : 현재 배치 중인 배의 방향 변경</li>
				</ul>
		</div>
		<div class="row">
			<h4>AI 코드</h4>
			<p>
				코드는 상단의 메뉴 중 Code Management에서 제출하고 확인할 수 있습니다. 코드의 테스트는 Code Test 메뉴에서 할 수 있고, Enemy's Code에서 지정된 코드와 대결을 해볼 수도 있습니다. 
			</p>
		</div>
	
		<div class="row">
			<h3>History</h3>
			<p>폭격 로그 정보를 담고 있습니다. 히스토리의 각 정보들은 다음과 같은 dictionary 타입으로 저장되어 있습니다. guess의 입력값인 record를 통해 얻을 수 있습니다.
			<h4>log</h4>
			<br>{<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;"guess" : { "x": [추측한 x좌표],"y": [추측한 y좌표]},<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;"result": [공격의 관한 결과값],<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;"sink"  : [침몰한 함선의 ID]<br>
				}<br>
	</div>
			<div class="row">
			<h4>result</h4>
			<p>공격의 대한 결과는 "result" key의 값으로 저장됩니다. 결과는 제공되는 상수값과 비교하여 알 수 있습니다. 사용할 수 있는 상수는 다음과 같습니다.<br></p>
			<ul>
				<li>Record.Status.INVALID : 공격한 좌표값이 보드를 벗어난 경우. 패배 판정.</li>
				<li>Record.Status.TWICE : 공격했던 좌표를 다시 공격한 경우. 패배 판정.</li>
				<li>Record.Status.MISSED : 공격한 좌표에 함선이 없는 경우.</li>
				<li>Record.Status.HIT : 공격한 좌표에 함선이 맞은 경우. 공격권 한번 재획득.</li>
				<li>Record.Status.SINK : 공격 좌표에서 함선이 맞아 침몰한 경우. 공격권 재획득.</li>
				<li>Record.Status.WIN : 공격 좌표에서 마지막 함선이 침몰해 승리한 경우.</li>
			</ul>
		</div>
		<div class="row">
			<h4>sink</h4>
			<p>공격결과 함선이 침몰한 경우, 침몰한 함선의 ID가 "sink" key의 값으로 저장됩니다. 함선ID에 따른 함선은 다음과 같습니다. </p>
			<ul>
				<li>1 : 1x2 사이즈 함선</li>
				<li>2 : 1x3 사이즈 함선</li>
				<li>3 : 1x3 사이즈 함선</li>
				<li>4 : 1x4 사이즈 함선</li>
				<li>5 : 1x5 사이즈 함선</li>
			</ul>
		</div>
		<div class="row">
			<h3>Board</h3>
			<p>Board는 다음과 같이 해석할 수 있습니다.</p>
			<ul>
				<li>Board는 10x10의 2차원 리스트로 반환됩니다.</li>
				<li>x와 y는 0부터 9로 표현됩니다.</li>
				<li>각 좌표의 상태는 아래에 제공되는 3가지 상수값으로 상태를 알 수 있습니다.
					<ul>
						<li> Board.Status.EMPTY  : 아직 공격하지 않은 좌표 </li>
						<li> Board.Status.HIT    : 명중 </li>
						<li> Board.Status.MISSED : 빗나감 </li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="row">
			<h3>guess</h3>
			<p>게임 내에서 각각의 턴을 진행할 수 있는 함수를 다음과 같이 만들면 됩니다.</p>
			<img src="{{ url_for('static', filename='img/guess_example.png') }}">
			<p>각각의 코드 내에는 다음과 같은 3가지 요소가 필수적으로 포함되어 있어야 합니다.</p>
			<ul>
				<li>
					<div>
						<h4>공격할 첫 좌표 결정</h4>
						<p>게임이 시작될 때, 아무런 정보가 없는 상태에서 어떤 좌표를 먼저 공격할 지를 결정해 주는 부분</p>
					</div>
				</li>
				<li>
					<div>
						<h4>결과 기반 다음 공격 좌표 결정</h4>
						<p>현재까지의 게임 정보를 바탕으로, 다음 턴에서 어떤 좌표를 공격할 지 결정하는 부분</p>
					</div>
				</li>
				<li>
					<div>
						<h4>결정된 좌표의 상태 체크</h4>
						<p>알고리즘에 의해 결정된 좌표를 공격하기 전에, 이미 그 좌표를 공격한 적이 있는지, 보드 내의 좌표인지 등을 체크해주는 부분</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<h3>API</h3>
			<p>
			guess 함수의 입력값인 record를 통해 접근할 수 있음.<br>
			<h3>사용법 : record.function_name(parameters)</h3>
			</p>
			<ul>
				<li>
					<div>
						<h4>get_latest()</h4>
						<p>가장 최근의 log를 반환</p>
						<p><strong>parameter </strong>없음</p>
						<p><strong>return    </strong>(dic) log if exist else {}</p>
					</div>
				</li>
				<li>
					<div>
						<h4>get_history_at(index[, direction = 'FORWARD'])</h4>
						<p>현재까지의 log들 중 해당 index의 log를 반환. direction 이 FORWARD일 경우엔 처음부터 index번째의, BACKWARD일 경우엔 마지막부터 index번째의 log를 반환한다.</p>
						<p><strong>parameter </strong>(int) index, (FORWARD||BACKWARD) direction</p>
						<p><strong>return    </strong>(dic) log</p>
					</div>
				</li>
				<li>
					<div>
						<h4>get_history()</h4>
						<p>현재 플레이어의 히스토리를 반환.</p>
						<p><strong>parameter </strong>없음</p>
						<p><strong>return    </strong>(list) history</p>
					</div>
				</li>
				<li>
					<div>
						<h4>get_board()</h4>
						<p>현재 플레이어의 보드를 반환.</p>
						<p><strong>parameter </strong>없음</p>
						<p><strong>return    </strong>(list) board</p>
					</div>
				</li>
				<li>
					<div>
						<h4>get_status_at(x, y)</h4>
						<p>현재 보드 위의 특정 좌표의 상태를 반환.</p>
						<p><strong>parameter </strong>(int) x, (int) y</p>
						<p><strong>return    </strong>(int) status</p>
					</div>
				</li>
				<li>
					<div>
						<h4>get_remaining_ships()</h4>
						<p>현재까지 남아있는 배들의 id를 반환</p>
						<p><strong>parameter </strong>없음</p>
						<p><strong>return    </strong>(list) ship_id</p>
					</div>
				</li>
				<li>
					<div>
						<h4>get_sink_info([ship_id])</h4>
						<p>침몰한 배들의 위치와 id를 dictionary 형식으로 반환. 침몰한 배가 없을 경우에는 반환하지 않음</p>
						<p><strong>parameter </strong>(int) ship_id</p>
						<p><strong>return    </strong>(dict) location if exist else {}</p>
					</div>
				</li>
				<li>
					<div>
						<h4>data</h4>
						<p>임시로 값을 넣어줄 수 있는 변수. dictionary 타입으로 원하는 값을 자유롭게 사용하면 된다.</p>
						<p><strong>dictionary type</strong></p>
					</div>
				</li>
			 </ul>
		</div>
	</div>