table.ship-placement {
    width:100%;
}

table.ship-placement td{
    width:10%;
    border:1px solid #ccc;
}

table.ship-placement td.active {
    background: #3cc;
}


table.ship-placement td.placed {
    background: #38c;
}

table.ship-placement td.error {
    background: #c33;
}