{% extends 'base.html' %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static',filename='css/test.css') }}">
{% endblock %}
{% block body %}
<form class="container">
	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary pull-right">
				Run Test
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Your Code</h3>
				</div>
				<div class="panel-body">
					<textarea name="code-test" id="code-test" class="form-control" cols="30" rows="10" autofocus></textarea>
				</div>
				<div class="panel-footer text-right">
					<button id="code-submit" type="button" class="btn btn-xs btn-primary">Submit Code</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Enemy's Code</h3>
				</div>
				<div class="panel-body">
					<textarea name="code-enemy" id="code-test" class="form-control" cols="30" rows="10" autofocus></textarea>
				</div>
				<div class="panel-footer">
					<label class="radio-inline">
						<input type="radio" name="enemy-type" value="custom" checked> Custom
					</label>
					<label class="radio-inline">
						<input type="radio" name="enemy-type" value="test"> Same code
					</label>
					<label class="radio-inline">
						<input type="radio" name="enemy-type" value="random"> Random
					</label>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}
{% block footer %}
{{ super() }}

<script src="{{ url_for('static',filename='js/lib/toast.js') }}"></script>
<script src="{{ url_for('static',filename='js/test.js') }}"></script>
{% endblock %}